page-welcome {
#welcome{
    background: color($colors, clear);
    h1{
        font-size: 52px;
        margin-top:50px;
        display:block;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    div{
        text-align: center;
    }
    .marginTop{
        margin-top:120px;
    }
    .logo{
        height: 130px;
        display:block;
        margin: 0 auto 0 auto;
    }
}
}
